

.card-memb{
    flex: 1 300px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
    max-width: 300px;

}

.card-header{
    background-color: rgb(14, 151, 25);
    color: rgb(255, 255, 255);
}

.stylebtn{
    background-color: green;
    color: white;
    font-size: 15px;
    width: 100%;    
    border-radius: 0%;
}
