.stylebtn{
    background-color: green;
    color: white;
    font-size: 15px;
    width: 100%;    
    border-radius: 0%;
}

.btn-ven{
    background-color: rgb(138, 150, 138);
    color: white;
    font-size: 15px;
    width: 100%;    
    border-radius: 0%;
}