

.card-memb{
    flex: 1 300px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
    max-width: 300px;    

}

.card-header{
    background-color: rgb(209, 209, 204);
    color: rgb(255, 255, 255); 
}

.stylebtn{
    background-color: green;
    color: white;
    font-size: 15px;
    border-radius: 0%;   
}
