.stylebtn {
  background-color: #1f8d1b;
  color: #ffffff;
  font-size: 15px;
  width: 100%;
  border-radius: 0%; }

.carousel-item, img {
  width: 100%;
  max-height: 450px; }

.carousel-item, h1, p {
  font-style: oblique; }
