$color-botones: #1f8d1b;
$color-letraBtn:  #ffffff;

@mixin ancho($porcentaje) {
    width: $porcentaje;
}

.stylebtn {
    background-color: $color-botones;
    color: $color-letraBtn;
    font-size: 15px;
    @include ancho(100%);
    border-radius: 0%;
  }
  
  
  .carousel-item, img{
    @include ancho(100%);
    max-height: 450px;
  }
  
  .carousel-item, h1, p{
      font-style: oblique;    
  }
  