.jumbotron{
    background-color: rgb(241, 241, 31);
    margin-top: 30px;
}

footer{
    padding: 10px 10px 0px 10px;
    background-color: rgb(241, 241, 31);
    margin-bottom: 0px;
    margin-top: 10px;
}

.table-responsive {
    overflow:scroll;
    height:400px;
    width:100%;   
}


.card-service{
    flex: 1 300px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
    max-width: 300px;

}

.padding-icon{
    padding: 10px;
}

.info-card{
    margin-top: 10px;
}


#myTabContent{
    padding-top: 10px;
}
